@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,600,700");

/* base */

*,
*::before,
*::after {
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
}

.global-wrapper {
	overflow: hidden;
}

img {
	width: 100%;
	height: auto;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}

a {
	display: block;
	text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

input,
textarea,
button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.dspNone {
	display: none !important;
}

.hidden {
	visibility: hidden;
}

/* reset */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

/* to preserve line-height and selector appearance */

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

/*to enable resizing for IE*/

input,
textarea,
select {
	*font-size: 100%;
}

/*because legend doesn't inherit in IE */

legend {
	color: #000;
}

/* YUI CSS Detection Stamp */

#yui3-css-stamp.cssreset {
	display: none;
}

/* --------------------------------
 * body
 * -------------------------------- */

body {
	background-color: #FAFAFA;
	color: #444444;
	font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", "Avenir", Verdana, YuGothic, "游ゴシック", Roboto, "Droid Sans", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", serif;
}

/* --------------------------------
 * modifier
 * -------------------------------- */

.--pc {
	display: block !important;
}

.--sp {
	display: none !important;
}

.--fixed {
	border-top: 0;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

/* --------------------------------
 * layout - common
 * -------------------------------- */

header,
footer {
	width: 100%;
}

.home-mv {
	width: 100%;
	margin-bottom: 60px;
}

.breadcrumbs {
	width: 960px;
	margin: 35px auto 15px;
}

.global-wrapper {
	width: 100%;
}

.global-inner {
	width: 960px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 auto;
}

.global-inner main {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 640px;
	flex: 0 0 640px;
}

.global-inner aside {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 280px;
	flex: 0 0 280px;
}

.mainSection-wrapper {
	width: 100%;
	background-color: #ffffff;
}

.mainSection-inner {
	padding: 30px;
}

/* --------------------------------
 * Page transition
 * -------------------------------- */

body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE; /* 背景カラー */
	z-index: 9999; /* 一番手前に */
	pointer-events: none; /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
	opacity: 0; /* 初期値では非表示 */
	-webkit-transition: opacity .8s ease;
	-o-transition: opacity .8s ease;
	transition: opacity .8s ease;
}

body.fadeout::after {
	opacity: 1;
}

/* --------------------------------
 * Top page loading
 * -------------------------------- */

.loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background: #EEEEEE;
	z-index: 9999;
}

.loading-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.loading-image {
	width: 100px;
	height: 100px;
	background: url("../images/logo01-gold.png") no-repeat;
	background-size: contain;
	margin-bottom: 30px;
	opacity: 0.7;
}

/* アニメーション */

#floatingCirclesG {
	position: relative;
	width: 48px;
	height: 48px;
	margin: auto;
	transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
}

.f_circleG {
	position: absolute;
	background-color: white;
	height: 9px;
	width: 9px;
	border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	animation-name: f_fadeG;
	-o-animation-name: f_fadeG;
	-ms-animation-name: f_fadeG;
	-webkit-animation-name: f_fadeG;
	-moz-animation-name: f_fadeG;
	animation-duration: 1.2s;
	-o-animation-duration: 1.2s;
	-ms-animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
}

#frotateG_01 {
	left: 0;
	top: 19px;
	animation-delay: 0.45s;
	-o-animation-delay: 0.45s;
	-ms-animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
	-moz-animation-delay: 0.45s;
}

#frotateG_02 {
	left: 6px;
	top: 6px;
	animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
}

#frotateG_03 {
	left: 19px;
	top: 0;
	animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
}

#frotateG_04 {
	right: 6px;
	top: 6px;
	animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
}

#frotateG_05 {
	right: 0;
	top: 19px;
	animation-delay: 1.05s;
	-o-animation-delay: 1.05s;
	-ms-animation-delay: 1.05s;
	-webkit-animation-delay: 1.05s;
	-moz-animation-delay: 1.05s;
}

#frotateG_06 {
	right: 6px;
	bottom: 6px;
	animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
}

#frotateG_07 {
	left: 19px;
	bottom: 0;
	animation-delay: 1.35s;
	-o-animation-delay: 1.35s;
	-ms-animation-delay: 1.35s;
	-webkit-animation-delay: 1.35s;
	-moz-animation-delay: 1.35s;
}

#frotateG_08 {
	left: 6px;
	bottom: 6px;
	animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
}

/* --------------------------------
 * top nav
 * -------------------------------- */

.svg--home,
.svg--info,
.svg--menu,
.svg--about,
.svg--party,
.svg--recruit {
	fill: #ffffff;
	vertical-align: bottom;
}

.current .svg--home,
.current .svg--info,
.current .svg--menu,
.current .svg--about,
.current .svg--party,
.current .svg--recruit {
	opacity: 0.6;
}

.svg--home {
	width: 56.29px;
	height: 13px;
}

.svg--info {
	width: 50px;
	width: 43.29px;
	height: 13px;
}

.svg--menu {
	width: 66px;
	width: 57.2px;
	height: 13px;
}

.svg--about {
	width: 72px;
	width: 62.4px;
	height: 13px;
}

.svg--party {
	width: 123px;
	width: 106.6px;
	height: 13px;
}

.svg--recruit {
	width: 90px;
	width: 78px;
	height: 13px;
}

/* --------------------------------
 * second common
 * -------------------------------- */

.svg--s-menu,
.svg--afternoontea,
.svg--price,
.svg--cafe-menu,
.svg--afternoontea-menu,
.svg--takeout-menu,
.svg--s-about,
.svg--concept,
.svg--welcome,
.svg--gallery {
	fill: #444444;
	vertical-align: bottom;
}

.svg--logo02 {
	fill: #5e5e5e;
	vertical-align: bottom;
}

.svg--logo03 {
	fill: #5e5e5e;
	vertical-align: bottom;
	margin: 0 auto;
	width: 518px;
	height: 35px;
}

.svg--fruitpicnic {
	fill: #5e5e5e;
	vertical-align: bottom;
	width: 333.2px;
	height: 35px;
}

/* --------------------------------
 * menu page
 * -------------------------------- */

.svg--s-menu {
	width: 78.84px;
	height: 18px;
}

.svg--afternoontea {
	width: 228px;
	height: 20px;
}

.svg--price {
	width: 79px;
	height: 20px;
}

.svg--cafe-menu {
	width: 145.98px;
	height: 18px;
}

.svg--afternoontea-menu {
	width: 286.2px;
	height: 54px;
}

.svg--takeout-menu {
	width: 124.2px;
	height: 54px;
}

/* --------------------------------
 * about page
 * -------------------------------- */

.svg--s-about {
	width: 88.92px;
	height: 18px;
}

.svg--concept {
	width: 134px;
	height: 20px;
}

.svg--welcome {
	width: 396px;
	height: 18px;
}

.svg--gallery {
	width: 118px;
	height: 20px;
}

/* --------------------------------
 * 新着記事一覧
 * -------------------------------- */

.mainSection-heading--blue {
	background: #78CBF3;
	padding: 15px;
	color: #ffffff;
	font-size: 1.4rem;
	text-align: center;
	letter-spacing: 0.2rem;
}

article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 15px;
}

article:last-of-type {
	padding-bottom: 0;
}

article .visual a {
	display: block;
	width: 150px;
	height: 150px;
}

article .text {
	padding: 10px 0 10px 15px;
}

article .text .entryInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 15px;
}

article .text .entryInfo .categories ul li a {
	font-size: 1.2rem;
	color: #78CBF3;
	margin-right: 10px;
}

article .text .entryInfo time {
	font-size: 1.0rem;
	color: #9E9E9E;
}

article .text .article-title a {
	font-size: 1.6rem;
	color: #444444;
}

.wp-pagenavi {
	padding: 15px 0;
}

#page_top {
	max-width: 960px;
}

#page_top a {
	float: right;
	position: relative;
	display: block;
	width: 50px;
	height: 30px;
	background: #707070;
	border-radius: 3px 3px 0 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

#page_top a:before {
	display: block;
	content: '';
	position: absolute;
	top: 13px;
	left: 20px;
	width: 8px;
	height: 8px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

#page_top a:hover {
	opacity: .7;
}

footer {
	background-color: #78CBF3;
}

.footer-inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
}

.footer-nav {
	padding-bottom: 30px;
}

.footer-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-nav ul li a {
	display: block;
	padding-right: 15px;
	font-size: 1.1rem;
	color: #ffffff;
}

.copyright {
	font-size: 0.8rem;
	color: #9E9E9E;
	text-align: center;
}

header {
	background-color: #ffffff;
}

.header-inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header-title .header-heading a {
	padding-bottom: 5px;
	font-size: 2.2rem;
	font-weight: 600;
	color: #333333;
	font-family: Overpass;
	font-weight: lighter;
}

.header-title .header-description {
	font-size: 1.0rem;
	color: #9E9E9E;
}

.header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-nav ul li a {
	display: block;
	padding-right: 15px;
	font-size: 1.2rem;
	color: #78CBF3;
}

.home-mv {
	width: 100%;
	height: 200px;
	background: url("../images/hero-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #9E9E9E;
	font-size: 1.2rem;
}

.breadcrumbs span {
	margin: 0 5px;
}

.breadcrumbs span:first-child {
	margin-left: 0;
}

.breadcrumbs a {
	color: #9E9E9E;
	text-decoration: underline;
}

/* --------------------------------
 * sidebar common
 * -------------------------------- */

.sidebar-wrapper {
	background-color: #ffffff;
	margin-bottom: 15px;
}

.sidebar-wrapper .sidebar-title {
	padding: 10px;
	font-size: 1.2rem;
	color: #78CBF3;
	text-align: center;
	border-top: 1px solid #78CBF3;
	border-bottom: 1px solid #78CBF3;
}

.sidebar-wrapper .sidebar-inner {
	padding: 15px;
}

/* --------------------------------
 * profile
 * -------------------------------- */

.profile .profile-summary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 15px;
}

.profile .profile-summary .profile-image {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100px;
	flex: 0 0 100px;
}

.profile .profile-summary .profile-name {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	font-size: 1.8rem;
	color: #444444;
	text-align: center;
}

.profile .profile-disc {
	font-size: 1.2rem;
	color: #9E9E9E;
	padding-bottom: 15px;
}

.profile .profile-morebtn {
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px solid #78CBF3;
	border-radius: 3px;
	font-size: 1.2rem;
	color: #78CBF3;
	text-align: center;
}

.profile .profile-sns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.profile .profile-sns li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
}

.profile .profile-sns li a {
	width: 100%;
	padding: 5px;
	background-color: #EEEEEE;
	border-radius: 3px;
	text-align: center;
}

.profile .profile-sns li a .buttonImage {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.profile .profile-sns li a .twitter-icon {
	background-image: url("../images/twitter-icon.png");
}

.profile .profile-sns li a .rss-icon {
	background-image: url("../images/rss-icon.png");
}

.profile .profile-sns li a .mail-icon {
	background-image: url("../images/mail-icon.png");
}

/* --------------------------------
 * categories .archives
 * -------------------------------- */

.categories li,
.archives li {
	padding-bottom: 10px;
	font-size: 1.2rem;
	color: #9E9E9E;
}

.categories li:last-child,
.archives li:last-child {
	padding-bottom: 0;
}

.categories li a,
.archives li a {
	color: #616161;
	text-decoration: underline;
	display: inline-block;
}

@media screen and (max-width: 1023px) {

.svg--cafe-menu {
	width: 113.54px;
	height: 14px;
}

.svg--afternoontea-menu {
	width: 222.6px;
	height: 42px;
}

.svg--takeout-menu {
	width: 96.6px;
	height: 42px;
}

}

@media screen and (max-width: 767px) {

.--pc {
	display: none !important;
}

.--sp {
	display: block !important;
}

.svg--logo02 {
	width: 100.28px;
	height: 46px;
	margin: 0 auto;
}

.svg--fruitpicnic {
	width: 171.36px;
	height: 18px;
}

.svg--s-menu {
	width: 61.32px;
	height: 14px;
}

.svg--afternoontea {
	width: 205.2px;
	height: 18px;
}

.svg--price {
	width: 71.1px;
	height: 18px;
}

.svg--s-about {
	width: 69.16px;
	height: 14px;
}

.svg--concept {
	width: 120.6px;
	height: 18px;
}

.svg--welcome {
	width: 308px;
	height: 14px;
}

.svg--gallery {
	width: 106.2px;
	height: 18px;
}

}

@keyframes f_fadeG {

0% {
	background-color: #8b6f4b;
}

100% {
	background-color: white;
}

}

@-webkit-keyframes f_fadeG {

0% {
	background-color: #8b6f4b;
}

100% {
	background-color: white;
}

}


/*# sourceMappingURL=../map/styles.css.map */
