
// break point
$BREAK-POINT-TB: 1023px;
$BREAK-POINT-SM: 767px;

// color
$BASE-COLOR: #726D6D;
$PRIMARY-COLOR: #6F5362;
$WHITE-COLOR: #fff;
// bg-color
$BASE-BG-COLOR: #EAE5E6;
$VIVID-BG-COLOR: #A28896;
$PALE-BG-COLOR: #DED3D7;
$WHITE-BG-COLOR: #fff;
// border-color
$GRAY-BDR-COLOR: #707070;
