//font-family
$FONT-FAMILY:  Overpass, Hiragino Sans, 'ヒラギノ角ゴシック',  Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', 'Avenir', Verdana, YuGothic, '游ゴシック',Roboto, 'Droid Sans',  Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', serif;

$OVERPASS: Overpass;
@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,600,700');

// break point
$BREAK-POINT-TB: 1023px;
$BREAK-POINT-SM: 767px;

// cntents widht
$CONTENT-WIDTH: 960px;
$MAIN-CONTENT-WIDTH: 640px;
$SUB-CONTENT-WIDTH: 280px;

// color
$BASE-COLOR: #444444;
$BASE2-COLOR: #333333;
$BASE3-COLOR: #616161;
$PRIMARY-COLOR: #78CBF3;
$GRAY-COLOR: #9E9E9E;
$WHITE-COLOR: #ffffff;
// bg-color
$BASE-BG-COLOR: #EEEEEE;
$VIVID-BG-COLOR: #78CBF3;
$PALE-BG-COLOR: #FAFAFA;
$WHITE-BG-COLOR: #ffffff;
// border-color
$GRAY-BDR-COLOR: #9E9E9E;
$PRIMARY-BDR-COLOR: #78CBF3;
