

/* --------------------------------
 * body
 * -------------------------------- */
body {
  background-color: $PALE-BG-COLOR;
  color: $BASE-COLOR;
  font-family: $FONT-FAMILY;
  font-size: 1.2rem;
}

/* --------------------------------
 * modifier
 * -------------------------------- */
.--pc {
  display: block!important;
  @include max-screen($BREAK-POINT-SM) {
    display: none!important;
  }
}
.--sp {
  display: none!important;
  @include max-screen($BREAK-POINT-SM) {
  display: block!important;
  }
}
.--fixed {
  border-top: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

/* --------------------------------
 * layout - common
 * -------------------------------- */
//大枠・100%の部分
header, footer {
  width: 100%;
}
.home-mv {
  width: 100%;
  margin-bottom: 60px;
}

//contents
.breadcrumbs {
  width: $CONTENT-WIDTH;
  margin: 35px auto 15px;
}
.global-wrapper {
  width: 100%;
  padding-bottom: 50px;
}
.global-inner {
  width: $CONTENT-WIDTH;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  main {
    flex: 0 0 $MAIN-CONTENT-WIDTH;
  }
  aside {
    flex: 0 0 $SUB-CONTENT-WIDTH;
  }
}

.mainSection-wrapper{
  width: 100%;
  background-color: $WHITE-COLOR;
}
.mainSection-inner {
  padding: 30px;
}
