
/* --------------------------------
 * footer
 * -------------------------------- */
footer {
  background-color: $PALE-BG-COLOR;
  p {
    font-size: 0.5rem;
    color: $WHITE-COLOR;
    text-align: center;
  }
}
