
//back to top button
#page_top{
  max-width: $CONTENT-WIDTH;
}
#page_top a{
  float: right;
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  background: $GRAY-BDR-COLOR;
  border-radius: 3px 3px 0 0;
  transition: .3s;
  &:before{
    display: block;
    content: '';
    position: absolute;
    top: 13px;
    left: 20px;
    width: 8px;
    height: 8px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  &:hover {
    opacity: .7;
  }
}


//fotter
footer {
 background-color: $VIVID-BG-COLOR;
}
.footer-inner {
  max-width: $CONTENT-WIDTH;
  margin: 0 auto;
  padding: 15px 0;

}
.footer-nav {
  padding-bottom: 30px;
  ul {
    display: flex;
    li {
      a {
        display: block;
        padding-right: 15px;
        font-size: 1.1rem;
        color: $WHITE-COLOR;
      }
    }
  }
}
.copyright {
  font-size: 0.8rem;
  color: $GRAY-COLOR;
  text-align: center;
}
