
.header-index {
  position: relative;
  height: 100vh;//header自体に100vh
  min-height: 600px;//min-height指定
}
.header-mv {
  width: 100%;
  height: 100%;//headerに対して
  background: url('../images/dummy/dummy6.jpg');
  background-color: $PALE-BG-COLOR;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @include max-screen($BREAK-POINT-SM) {
    background: url('../images/dummy/dummy5.jpg');
    background-position: center bottom;
  }
}
.header-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include svgSize(1.00, 300px);
  background: url('../images/logo01-pink.png') no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, .5));
	/* h1を隠しテキストにする */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  @include max-screen($BREAK-POINT-TB) {
    top: 50%;
  }
  @include max-screen($BREAK-POINT-SM) {
    top: 50%;
    @include svgSize(1.00, 160px);
  }
}
.header-button {
  position: absolute;
  bottom: 20%;
  right: 30px;
  @include max-screen($BREAK-POINT-TB) {
    bottom: 15%;
  }
  @include max-screen($BREAK-POINT-SM) {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 7777;
  }
  a {
    display: block;
    width: 200px;
    height: 200px;
    background-color: $VIVID-BG-COLOR;
    border-radius: 50%;
    color: #fff;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    @include max-screen($BREAK-POINT-SM) {
      width: 60px;
      height: 60px;
    }
  }
}

/* --------------------------------
 * second hierarchy
 * -------------------------------- */
.s-header-mv {
  width: 100%;
  background-color: #F2F2F2;
  padding: 80px 0  100px;//0定nav分のpadding-topも含む
  @include max-screen($BREAK-POINT-SM) {
    padding: 20px 0 50px;//固定nav分のpadding-topも含む
  }
}
.s-header-heading {
  text-align: center;
}
