
//Header
header {
  background-color: $WHITE-BG-COLOR;
  border-bottom: 1px solid $PALEGRAY-BDR-COLOR;
}
.header-inner {
  max-width: $CONTENT-WIDTH;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.header-title {
  .header-heading a{
    padding-bottom: 5px;
    font-size: 2.2rem;
    font-weight: 600;
    color: $BASE2-COLOR;
    font-weight: lighter;
  }
  .header-description {
    font-size: 1.0rem;
    color: $GRAY-COLOR;
  }
}
.header-nav {
  margin-left: auto;
  display: flex;
  // header-navigation
  ul.menu {
    display: flex;
    li {
      a {
        margin-left: 15px;
        font-size: 1.4rem;
        font-weight: 300;
        color: $PRIMARY-COLOR;
        transition: .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  // sosial-button
  ul.header-socialMenu {
    display: flex;
    li {
      a {
        margin-left: 15px;
        font-size: 1.6rem;
        color: $PRIMARY-COLOR;
        transition: .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}


//Hero image
%mv-image {
  width: 100%;
  height: 200px;
}
.home-mv {
  @extend %mv-image;
  background: url("../images/hero-bg2.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-mv {
  @extend %mv-image;
  background: url("../images/hero-bg2.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-mv {
  @extend %mv-image;
  background: url("../images/hero-bg2.jpg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

//breadcrumbs
.breadcrumbs {
  display: flex;
  color: $PALE-GRAY-COLOR;
  font-size: 1.2rem;
  span {
    margin: 0 5px;
    &:first-child { margin-left: 0;}
  }
  a {
    color: $PALE-GRAY-COLOR;
    text-decoration: underline;
  }

}
