
/* --------------------------------
 * 記事一覧（loop-main）
 * -------------------------------- */

%mainSection-heading {
  padding: 20px;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2rem;
}
.mainSection-heading--blue{
  @extend %mainSection-heading;
  color: $GRAY-COLOR;
  background: $WHITE-BG-COLOR;
  border-bottom: 1px solid $PALEGRAY-BDR-COLOR;
}
.mainSection-heading--gray{
  @extend %mainSection-heading;
  color: $GRAY-COLOR;
  background: $WHITE-BG-COLOR;
  border-bottom: 1px solid $PALEGRAY-BDR-COLOR;
}

.loop-main {
  padding: 30px 0;
  border-bottom: 1px solid $PALEGRAY-BDR-COLOR;
  &:first-child {
    padding: 0 0 30px;
  }
  //テキスト
  .text {
    padding: 10px 0;
    .entryInfo {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      time {
        font-size: 1.2rem;
        color: $PALE-GRAY-COLOR;
        margin-right: 10px;
      }
      .categories ul {
        display: flex;
        li a {
          font-size: 1.2rem;
          color: $PRIMARY-COLOR;
          margin-right: 10px;
          text-decoration: none!important;
        }
      }

    }
    .article-title a {
      font-size: 2.0rem;
      font-weight: 400;
      line-height: 1.5;
      color: $BASE2-COLOR;
      padding-bottom: 10px;
    }
    .article-excerpt p {
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1.5;
      color: $GRAY-COLOR;
    }
  }
}

.wp-pagenavi {
  padding: 15px 0;
}

/* --------------------------------
 * 検索結果なし、記事なし、404
 * -------------------------------- */
 .no-result, .no-article, .404 {
   font-size: 1.2rem;
   line-height: 1.8;
   color: $BASE-COLOR;
 }
