
/* --------------------------------
 * 記事一覧（loop-main）
 * -------------------------------- */

%mainSection-heading {
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2rem;
}
.mainSection-heading--blue{
  @extend %mainSection-heading;
  color: $WHITE-COLOR;
  background: $VIVID-BG-COLOR;
}
.mainSection-heading--gray{
  @extend %mainSection-heading;
  color: $BASE-COLOR;
  background: $BASE-BG-COLOR;
}

article {
  display: flex;
  padding-bottom: 15px;
  &:last-of-type {
    padding-bottom: 0;
  }
  //サムネイル画像
  .visual {
    a {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
  //テキスト
  .text {
    padding: 10px 0 10px 15px;
    .entryInfo {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      .categories ul li a {
        font-size: 1.2rem;
        color: $PRIMARY-COLOR;
        margin-right: 10px;
        text-decoration: none!important;
      }
      time {
        font-size: 1.0rem;
        color: $GRAY-COLOR;
      }
    }
    .article-title a {
      font-size: 1.6rem;
      color: $BASE-COLOR;
    }
  }
}

.wp-pagenavi {
  padding: 15px 0;
}

/* --------------------------------
 * 検索結果なし、記事なし、404
 * -------------------------------- */
 .no-result, .no-article, .404 {
   font-size: 1.2rem;
   line-height: 1.8;
   color: $BASE-COLOR;
 }
