
/* --------------------------------
 * 固定ページ共通
 * -------------------------------- */

.mainSection-heading--page{
  padding: 0 0 30px;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.2rem;
  color: $BASE2-COLOR;
  background: $WHITE-BG-COLOR;
}
