
/* --------------------------------
 * concept
 * -------------------------------- */
.concept-visual{
  width: 100%;
}
.concept-disc{
  width: 100%;
  padding: 0 10%;
  @include max-screen($BREAK-POINT-TB) {
  padding: 0 5%;
  }
  @include max-screen($BREAK-POINT-SM) {
    padding: 0;
  }
  .concept-leading {
    padding: 50px 0 30px;
    text-align: center;
    @include max-screen($BREAK-POINT-SM) {
      padding: 50px 0 0;
    }
  }
  .concept-txt {
    font-size: 1.4rem;
    line-height: 2.0;
    @include max-screen($BREAK-POINT-SM) {
      padding: 30px 15px;
    }
  }
}
/* --------------------------------
 * gallery - pc
 * -------------------------------- */
.gallery-mainimage {
  padding-bottom: 30px;
  align-items: center;
  .gallery-visual {
    width: 50%;
    @include max-screen($BREAK-POINT-SM) {
      width: 100%;
    }
  }
  .gallery-txt {
    width: 50%;
    padding: 0 0 0 5%;
    font-size: 1.4rem;
    line-height: 2.0;
    @include max-screen($BREAK-POINT-SM) {
      width: 100%;
      padding: 0;
    }
  }
}
.gallery-subimage {
  justify-content: space-between;
  li {
    flex: 0 0 32%;
  }
}
/* --------------------------------
 * gallery - sp
 * -------------------------------- */
.slider{
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}
.slider img{
  height: auto;
  width: 100%;
}
.slick-initialized{
  opacity: 1
}
.slick-dots li button:before {
  color: $GRAY-BDR-COLOR;
}
.slick-dots li.slick-active button:before{
  color: $VIVID-BG-COLOR;
}
.slider .slick-slide:not(.slick-center) {
  filter: opacity(60%);
  transform: scale(0.9);
  transition: 0.5s;
}
.--sp .gallery-txt {
  width: 100%;
  padding: 15px 25px 0;
  font-size: 1.4rem;
  line-height: 2.0;
}
