
/* --------------------------------
 * sidebar common
 * -------------------------------- */
.sidebar-wrapper {
  background-color: $WHITE-BG-COLOR;
  border: 1px solid $PALEGRAY-BDR-COLOR;
  margin-bottom: 30px;
  .sidebar-title {
    padding: 20px 0 15px;
    font-size: 1.6rem;
    font-weight: 300;
    color: $BASE-COLOR;
    text-align: center;
    background-color: $WHITE-BG-COLOR;
  }
  .sidebar-inner {
    padding: 15px;
  }
  .sidebar-inner-widthmax {
    padding: 15px 0;
  }
}
/* --------------------------------
 * sidebar profile
 * -------------------------------- */
.sidebar-profile {
  .profile-summary {
   padding-bottom: 15px;
   .profile-image {
     width: 60px;
     height: 60px;
     margin: 0 auto 15px;
   }
   .profile-name {
     font-size: 1.6rem;
     font-weight: 400;
     color: $BASE-COLOR;
     text-align: center;
   }
  }
 .profile-disc {
   font-size: 1.2rem;
   line-height: 1.8;
   color: $GRAY-COLOR;
   padding-bottom: 10px;
 }
 .profile-morebtn {
   width: 100%;
   font-size: 1.2rem;
   color: $PRIMARY-COLOR;
   text-align: center;
   padding-bottom: 30px;

 }
 .profile-sns {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
    li {
      a {
        font-size: 1.8rem;
        color: $PRIMARY-COLOR;
        transition: .3s;
      }
      &:hover {
        opacity: .7;
      }
    }
 }

}
/* --------------------------------
 * sidebar categories sidebar archives
 * -------------------------------- */
.sidebar-categories, .sidebar-archives {
  li {
      padding-bottom: 15px;
      font-size: 1.2rem;
      color: $GRAY-COLOR;
      &:last-child {padding-bottom: 0;}
    a {
      color: $BASE3-COLOR;
      text-decoration: underline;
      display: inline-block;
    }
  }
}
/* --------------------------------
 * sidebar serachform
 * -------------------------------- */
.sidebar-search {
  .search-form input {
    height: 30px;
    vertical-align: top;
  }
  .search-form input[type="text"] {
    width: 85%;
    padding: 10px;
  	background: $WHITE-BG-COLOR;
  	border: solid 1px $GRAY-BDR-COLOR;
    font-size: 1.2rem;
    color: $BASE3-COLOR;
    &:focus {
    	border: solid 1px #29B6F6;
    }
  }
  .search-form input[type="submit"] {
    width: 15%;
    background: url("../images/search-icon.png") no-repeat center center;
    background-size: 16px 16px;
    background-color: $GRAY-BDR-COLOR;
    &:hover {
      cursor: pointer;
    }
  }
}


/* --------------------------------
 * sidebar twitter
 * -------------------------------- */
.timeline-InformationCircle-widgetParent {
  display: none!important;
}

/* --------------------------------
 * sidebar recently
 * -------------------------------- */
.sidebar-recently {
  ul li {
    padding-bottom: 15px;
    &:last-child { padding-bottom: 0;}
    a {
      h5 {
        padding-bottom: 5px;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.5;
        color: $BASE3-COLOR;
        text-decoration: underline;
      }
      time {
        float: right;
        font-size: 1.0rem;
        color: $GRAY-COLOR;
      }
    }
  }
}


/* --------------------------------
 * sidebar table of contents
 * -------------------------------- */

.sidebar-table {
  h4 {
    @extend .sidebar-title;
  }
  nav ul.ez-toc-list {
    @extend .sidebar-inner;
    li {
      font-size: 1.2rem;
      color: $GRAY-COLOR;
      &:last-child {padding-bottom: 0;}
      a {
        padding-bottom: 15px;
        color: $BASE3-COLOR;
        text-decoration: underline;
        display: inline-block;
        ul {
          li {
            a {
                padding-left: 15px;
            }
          }
        }
      }
    }
  }
  a.active {
    color: $PRIMARY-COLOR;
  }
}
