
/* --------------------------------
 * sidebar common
 * -------------------------------- */
.sidebar-wrapper {
  background-color: $WHITE-BG-COLOR;
  margin-bottom: 15px;
  .sidebar-title {
    padding: 10px;
    font-size: 1.2rem;
    color: $PRIMARY-COLOR;
    text-align: center;
    border-top: 1px solid $PRIMARY-BDR-COLOR;
    border-bottom: 1px solid $PRIMARY-BDR-COLOR;
  }
  .sidebar-inner {
    padding: 15px;
  }
}
/* --------------------------------
 * sidebar profile
 * -------------------------------- */
 .sidebar-profile {
   .profile-summary {
     display: flex;
     align-items: center;
     padding-bottom: 15px;
     .profile-image {
       flex: 0 0 100px;
     }
     .profile-name {
       flex: 1 1 0;
       font-size: 1.8rem;
       color: $BASE-COLOR;
       text-align: center;
     }
   }
   .profile-disc {
     font-size: 1.2rem;
     color: $GRAY-COLOR;
     padding-bottom: 15px;
   }
   .profile-morebtn {
     width: 100%;
     margin-bottom: 15px;
     padding: 5px;
     border: 1px solid $PRIMARY-BDR-COLOR;
     border-radius: 3px;
     font-size: 1.2rem;
     color: $PRIMARY-COLOR;
     text-align: center;

   }
   .profile-sns {
      display: flex;
      justify-content: space-between;
      li {
        flex: 0 0 30%;
        a {
          width: 100%;
          height: 35px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 20px auto;
          background-color: $BASE-BG-COLOR;
          border-radius: 3px;
          text-align: center;
        }
        .twitter-icon {
          background-image: url("../images/twitter-icon.png");
        }
        .rss-icon {
          background-image: url("../images/rss-icon.png");
        }
        .mail-icon {
          background-image: url("../images/mail-icon.png");
        }
      }
   }

 }

/* --------------------------------
 * sidebar categories sidebar archives
 * -------------------------------- */
.sidebar-categories, .sidebar-archives {
  li {
      padding-bottom: 10px;
      font-size: 1.2rem;
      color: $GRAY-COLOR;
      &:last-child {padding-bottom: 0;}
    a {
      color: $BASE3-COLOR;
      text-decoration: underline;
      display: inline-block;
    }
  }
}

/* --------------------------------
 * sidebar serachform
 * -------------------------------- */
.sidebar-search {
  .search-form input {
    height: 30px;
    vertical-align: top;
  }
  .search-form input[type="text"] {
    width: 85%;
    padding: 10px;
  	background: $WHITE-BG-COLOR;
  	border: solid 1px $GRAY-BDR-COLOR;
    font-size: 1.2rem;
    color: $BASE3-COLOR;
    &:focus {
    	border: solid 1px #29B6F6;
    }
  }
  .search-form input[type="submit"] {
    width: 15%;
    background: url("../images/search-icon.png") no-repeat center center;
    background-size: 16px 16px;
    background-color: $GRAY-BDR-COLOR;
    &:hover {
      cursor: pointer;
    }
  }
}
