
/* --------------------------------
 * sidebar common
 * -------------------------------- */
.sidebar-wrapper {
  background-color: $WHITE-BG-COLOR;
  margin-bottom: 15px;
  .sidebar-title {
    padding: 10px;
    font-size: 1.2rem;
    color: $PRIMARY-COLOR;
    text-align: center;
    border-top: 1px solid $PRIMARY-BDR-COLOR;
    border-bottom: 1px solid $PRIMARY-BDR-COLOR;
  }
  .sidebar-inner {
    padding: 15px;
  }
}
/* --------------------------------
 * profile
 * -------------------------------- */
 .profile {
   .profile-summary {
     display: flex;
     align-items: center;
     padding-bottom: 15px;
     .profile-image {
       flex: 0 0 100px;
     }
     .profile-name {
       flex: 1 1 0;
       font-size: 1.8rem;
       color: $BASE-COLOR;
       text-align: center;
     }
   }
   .profile-disc {
     font-size: 1.2rem;
     color: $GRAY-COLOR;
     padding-bottom: 15px;
   }
   .profile-morebtn {
     width: 100%;
     margin-bottom: 15px;
     padding: 5px;
     border: 1px solid $PRIMARY-BDR-COLOR;
     border-radius: 3px;
     font-size: 1.2rem;
     color: $PRIMARY-COLOR;
     text-align: center;

   }
   .profile-sns {
      display: flex;
      justify-content: space-between;
      li {
        flex: 0 0 30%;
        a {
          width: 100%;
          padding: 5px;
          background-color: $BASE-BG-COLOR;
          border-radius: 3px;
          text-align: center;
          .buttonImage {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display:inline-block;
            width:20px;
            height:20px;
          }
          .twitter-icon { background-image: url('../images/twitter-icon.png'); }
          .rss-icon { background-image: url('../images/rss-icon.png'); }
          .mail-icon { background-image: url('../images/mail-icon.png'); }
        }

      }
   }

 }

/* --------------------------------
 * categories .archives
 * -------------------------------- */
.categories, .archives {
  li {
      padding-bottom: 10px;
      font-size: 1.2rem;
      color: $GRAY-COLOR;
      &:last-child {padding-bottom: 0;}
    a {
      color: $BASE3-COLOR;
      text-decoration: underline;
      display: inline-block;
    }

  }
}
